<nav class="navbar">
  <div class="container">
    <a class="brand" (click)="navigateTo('/')">&lt; Dood &gt;</a>

    <div class="hamburger" (click)="toggleMenu()">
      <i class="fas" [class.fa-bars]="!menuOpen" [class.fa-times]="menuOpen"></i>
    </div>

    <div class="nav-links" [class.active]="menuOpen">
      <a (click)="navigateTo('/')">Dashboard</a>
      <a (click)="navigateTo('/projects')">Projects</a>
      <a (click)="navigateTo('/experience')">Experience</a>
      <a (click)="navigateTo('/certificates')">Certificates</a>
      <a (click)="navigateTo('/education')">Education</a>
      <a (click)="navigateTo('/vision')">Vision</a>
      <a (click)="navigateTo('/distribution')">Distribution</a>
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>